---
layout: default
---

<div class="home">
  
  <h4>(Chrome v51 broke a lot of my animations. Working on a fix but I recommend viewing this site in Firefox for now)</h4>

  <h3 class="social">{% include icon-github.html username=site.github_username %}</h3>

  {% assign projects = site.projects | sort: "order" %}
  <div class="project-list">
    {% for project in projects %}
      <a href={{ project.id}} class="projectLink">
        <div class="projectPreview backface-visibility(hidden)" style="background-image: url({{project.background | prepend: site.url}});">
        <div class="projectTitle" id="{{project.title}}TitleSpecific">{{ project.title }}</div>
        <div class="projectDescription">{{ project.description }}

          <div class="projectTools">
            Built with {{project.tools}}
          </div>
        </div>
        
      </div>
    </a>
      
    {% endfor %}
  </div>

</div>
